<section class="SubmissionComponent">
  <nav class="navbar is-black is-fixed-top">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item brand-text">
          🌊 BigSea
        </a>
        <div class="navbar-burger burger" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div id="navMenu" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" (click)="toggleUserRegistration()">
            Register User
          </a>
          <a class="navbar-item" (click)="toggleSubmission()">
            New Submission
          </a>
          <a class="navbar-item" (click)="reloadSubmissions()">
            Reload Submissions
          </a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <p class="control">
                <a class="button is-danger" (click)="signOut()">
                  <span class="icon">
                    <i class="fas fa-sign-out-alt"></i>
                  </span>
                  <span>SignOut</span>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="card">
    <div class="card-content">
      <img [src]="bigseaUser.photoUrl" class="is-circle" alt="Image">
      <p class="title is-6">{{bigseaUser.name}}</p>
      <p class="subtitle is-6">{{bigseaUser.email}}</p>
    </div>
  </div>

  <div class="container">
    <div id="flow">
      <span class="flow-1"></span>
      <span class="flow-2"></span>
      <span class="flow-3"></span>
    </div>

    <section class="submission-list">

      <div class="submission-list-item" *ngFor="let submission of submissions">
        {{submission.status}}
      </div>

    </section>

  </div>

</section>

<!--NEW USER MODAL-->

<div class="modal" style="z-index: 10001;" [ngClass]="{'is-active': isCreatingUser }">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Register User</p>
      <button class="delete" aria-label="close" (click)="toggleUserRegistration()"></button>
    </header>
    <section class="modal-card-body">

      <div class="field">
        <div class="control">
          <input class="input" type="text" placeholder="Enter username" ngModel="user.username">
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input class="input" type="password" placeholder="Enter password" ngModel="user.password">
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input class="input" type="email" placeholder="Enter email" ngModel="user.email">
        </div>
      </div>


    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="registerUser()">Submit</button>
      <button class="button" (click)="toggleUserRegistration()">Cancel</button>
    </footer>
  </div>
</div>

<!--NEW USER MODAL-->


<!--NEW SUBMISSION MODAL-->

<div class="modal" style="z-index: 10001;" [ngClass]="{'is-active': isSelectingSubType }">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">New Submission</p>
      <button class="delete" aria-label="close" (click)="toggleSubmission()"></button>
    </header>
    <section class="modal-card-body">

      <div *ngIf="submission.type !== '1'" class="field">
        <div class="field">
          <div class="control">
            <input class="input" type="text" placeholder="Enter submission id" [(ngModel)]="submission.id">
          </div>
        </div>
      </div>

      <div *ngIf="submission.type === '1'" class="field">
        <div class="field">
          <div class="control">
            <input class="input" type="text" placeholder="Enter plugin" [(ngModel)]="submission.plugin">
          </div>
        </div>

        <div class="field">
          <div class="control">
            <input class="input" type="text" placeholder="Enter plugin info" [(ngModel)]="submission.plugin_info">
          </div>
        </div>
      </div>


      <div class="field">
        <div class="control">
          <div class="select">
            <select name="subTypeSelect" [(ngModel)]="submission.type">
              <option value="1"> Submit and Run</option>
              <option value="2"> Stop</option>
              <option value="3"> Status</option>
              <option value="4"> Log</option>
            </select>
          </div>
        </div>
      </div>


    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="sendSubmission()">Submit</button>
      <button class="button" (click)="toggleSubmission()">Cancel</button>
    </footer>
  </div>
</div>

<!--NEW SUBMISSION MODAL-->

<div class="notification is-info" [ngClass]="{'is-hidden': !showNotification}" style="z-index: 999999999">
  <button class="delete" (click)="dismissNotification()"></button>
  {{notification}}
</div>
