<section class="LoginComponent hero is-black is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <h3 class="title">Login</h3>
        <p class="subtitle has-text-grey">Please login to proceed.</p>
        <div class="box">
          <figure class="avatar">
            <br>
            <h3 class="title has-text-grey">BigSea</h3>
            <br>
          </figure>
          <form>
            <div class="field">
              <div class="control">
                <input class="input is-large" type="text" placeholder="username" autofocus="">
              </div>
            </div>

            <div class="field">
              <div class="control">
                <input class="input is-large" type="password" placeholder="password">
              </div>
            </div>
      
            <button class="button is-block is-dark is-large is-fullwidth">Login</button>
          </form>
          <hr class="hr-text" data-content="OR">
          <button class="button is-block is-danger is-large is-fullwidth">Login with Google</button>
        </div>
      </div>
    </div>
  </div>
</section>