<section class="LoginComponent hero is-black is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <h3 class="title">Login</h3>
        <p class="subtitle has-text-grey">Please login to proceed.</p>
        <div class="box">
          <figure class="avatar">
            <br>
            <h3 class="title has-text-info">🌊 BigSea 🌊</h3>
            <br>
          </figure>
          <button class="button is-block is-danger is-large is-fullwidth" (click)="signInWithGoogle()">
              <span class="icon">
                  <i class="fab fa-google"></i>
                </span>
                &nbsp;Signin with Google
          </button>
          <br>
        </div>
        <p class="has-text-grey">
            &nbsp;·&nbsp;
            <a routerLink="/register">REGISTER A NEW USER</a> &nbsp;·&nbsp;
        </p>
      </div>
    </div>
  </div>
</section>